{{- $email := promptString "Email" -}}
{{- $name := promptString "Name" -}}
{{- $github := promptString "Github username" -}}

[data]
    email = {{ $email | quote }}
    name = {{ $name | quote }}
    github = {
      user = {{ $github | quote }}
    }
