tap "pkgxdev/made"

brew "pkgx"
brew "fzf" # fuzzy finder

{{- if eq .chezmoi.os "darwin" -}}

tap "homebrew/cask"
tap "homebrew/cask-fonts"

cask "1password-cli"
cask "font-cascadia-code"
cask "notion"
cask "slack"
cask "rectangle"
cask "iina"
cask "1password"
cask "tableplus"
cask "visual-studio-code"

mas "Pixelmator Pro", id: 1289583905
mas "The Unarchiver", id: 425424353
mas "Tailscale", id: 1475387142

{{ end -}}
