source {{ .zsh_snap_path | quote }}
eval "$({{ .brew_path }} shellenv)"

znap source asdf-vm/asdf asdf.sh
znap source b4b4r07/enhancd
znap source MichaelAquilina/zsh-you-should-use
znap source unixorn/tumult.plugin.zsh

znap eval starship 'starship init zsh'
znap prompt