#!/bin/bash

set -e
set -u
set -o pipefail

BREW_PATH={{ .brew_path | quote }}

# check if brew command is installed
if [[ ! -f $BREW_PATH ]]; then
  echo "Installing Homebrew..."
  # cache sudo password
  sudo -v
  # install homebrew
  /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)" </dev/null
else
  echo "Homebrew is already installed"
fi
