#!/bin/bash

COMMAND_NAME="sudo-touchid"

{{- if eq .chezmoi.os "darwin" -}}

# check if command installed
if ! command -v "$COMMAND_NAME" &> /dev/null; then
    echo "$COMMAND_NAME not installed"
    exit 1
else
    echo "$COMMAND_NAME installed"
fi

{{ end -}}