{{ if eq .chezmoi.os "darwin" -}}
#!/bin/sh

TPM_DIR="$HOME/.tmux/plugins/tpm"

if [ ! -d "$TPM_DIR" ]; then
  git clone https://github.com/tmux-plugins/tpm "$TPM_DIR"
fi

# Install plugins via TPM
"$TPM_DIR/bin/install_plugins"
{{ end -}}
