[core]
  pager = delta

[credential]
  helper = osxkeychain

[alias]
  s = status
  d = diff
  co = checkout
  last = log -1 HEAD
  nuke = reset --hard HEAD
  wt = worktree list
  wta = worktree add
  wtr = worktree remove

[init]
  defaultBranch = main

[push]
  autoSetupRemote = true

[pull]
  rebase = true

[fetch]
  prune = true

[rebase]
  autoStash = true

[rerere]
  enabled = true

[merge]
  conflictstyle = zdiff3

[column]
  ui = auto

[branch]
  sort = -committerdate

[interactive]
  diffFilter = delta --color-only

[delta]
  navigate = true
  line-numbers = true
  dark = true

[diff]
  algorithm = histogram
  colorMoved = default
[user]
  email = {{ .email }}
  name = {{ .name }}
[credential "https://github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
